<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Overwatch | Hero Compatibility Chart</title>
</head>
<body>
    <section class="header">
      <object data="images/1-main_logo.svg" type="image/svg+xml" class="svg-header" id="bottle"></object>
      <h1 class="main-header">Hero Compatibility Chart</h1>

      <section class="legend">
        <h3 id="l-weak">Weakness</h3>
        <h3 id="l-title">HERO</h3>
        <h3 id="l-strong">Strength</h3>
      </section>
    </section>

    <main>
      <!-- Popover Strengths -->
      <article class="popover-s">
          <h4 class="ipa-rating"></h4>
          <div class="ratings"></div>
            <p class="beer-description"></p>
      </article>

      <!-- Popover Weaknesses -->
      <article class="popover-w">
          <h4 class="ipa-rating"></h4>
          <div class="ratings"></div>
            <p class="beer-description"></p>
      </article>

      <section class="hero-icon" id="beer1">
          <div class="label_wrapper">
            <h1 class="hidden">Ana</h1>
            <object data="images/ana.svg" type="image/svg+xml" class="svg-graphic" id="bottle"></object>
          </div>

          <h3>Ana</h3>

          <div class="buttons">
            <span class="see-more weak" data-target="1">Weaknesses</span>
            <span class="see-more strength" data-target="1">Strengths</span>
          </div>
        </section>

        <section class="hero-icon" id="beer2">
          <div class="label_wrapper">
            <h1 class="hidden">Ashe</h1>
            <object data="images/ashe.svg" type="image/svg+xml" class="svg-graphic" id="barrels"></object>
          </div>

          <h3>Ashe</h3>

          <div class="buttons">
            <span class="see-more weak" data-target="2" id="weak">Weaknesses</span>
            <span class="see-more strength" data-target="2">Strengths</span>
          </div>
        </section>

        <section class="hero-icon" id="beer3">
          <div class="label_wrapper">
            <h1 class="hidden">Baptiste</h1>
            <object data="images/baptiste.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
          </div>

          <h3>Baptiste</h3>

          <div class="buttons">
            <span class="see-more weak" data-target="3">Weaknesses</span>
            <span class="see-more strength" data-target="3">Strengths</span>
          </div>
        </section>

        <section class="hero-icon" id="beer4">
            <div class="label_wrapper">
              <h1 class="hidden">Bastion</h1>
              <object data="images/bastion.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
            </div>
  
            <h3>Bastion</h3>
  
            <div class="buttons">
              <span class="see-more weak" data-target="4">Weaknesses</span>
              <span class="see-more strength" data-target="4">Strengths</span>
            </div>
        </section>

          <section class="hero-icon" id="beer5">
              <div class="label_wrapper">
                <h1 class="hidden">Brigitte</h1>
                <object data="images/brigitte.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
    
              <h3>Brigitte</h3>
    
              <div class="buttons">
                <span class="see-more weak" data-target="5">Weaknesses</span>
                <span class="see-more strength" data-target="5">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer6">
              <div class="label_wrapper">
                <h1 class="hidden">Doomfist</h1>
                <object data="images/doomfist.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Doomfist</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="6">Weaknesses</span>
                <span class="see-more strength" data-target="6">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer7">
              <div class="label_wrapper">
                <h1 class="hidden">D.Va</h1>
                <object data="images/dva.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>D.Va</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="7">Weaknesses</span>
                <span class="see-more strength" data-target="7">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer8">
              <div class="label_wrapper">
                <h1 class="hidden">Genji</h1>
                <object data="images/genji.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Genji</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="8">Weaknesses</span>
                <span class="see-more strength" data-target="8">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer9">
              <div class="label_wrapper">
                <h1 class="hidden">Hanzo</h1>
                <object data="images/hanzo.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Hanzo</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="9">Weaknesses</span>
                <span class="see-more strength" data-target="9">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer10">
              <div class="label_wrapper">
                <h1 class="hidden">Junkrat</h1>
                <object data="images/junkrat.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Junkrat</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="10">Weaknesses</span>
                <span class="see-more strength" data-target="10">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer11">
              <div class="label_wrapper">
                <h1 class="hidden">Lucio</h1>
                <object data="images/lucio.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Lucio</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="11">Weaknesses</span>
                <span class="see-more strength" data-target="11">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer12">
              <div class="label_wrapper">
                <h1 class="hidden">McCree</h1>
                <object data="images/mccree.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>McCree</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="12">Weaknesses</span>
                <span class="see-more strength" data-target="12">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer13">
              <div class="label_wrapper">
                <h1 class="hidden">Mei</h1>
                <object data="images/mei.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Mei</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="13">Weaknesses</span>
                <span class="see-more strength" data-target="13">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer14">
              <div class="label_wrapper">
                <h1 class="hidden">Mercy</h1>
                <object data="images/mercy.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Mercy</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="14">Weaknesses</span>
                <span class="see-more strength" data-target="14">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer15">
              <div class="label_wrapper">
                <h1 class="hidden">Moira</h1>
                <object data="images/moira.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Moira</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="15">Weaknesses</span>
                <span class="see-more strength" data-target="15">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer16">
              <div class="label_wrapper">
                <h1 class="hidden">Orisa</h1>
                <object data="images/orisa.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Orisa</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="16">Weaknesses</span>
                <span class="see-more strength" data-target="16">Strengths</span>
              </div>
          </section>
        
          <section class="hero-icon" id="beer17">
              <div class="label_wrapper">
                <h1 class="hidden">Pharah</h1>
                <object data="images/pharah.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Pharah</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="17">Weaknesses</span>
                <span class="see-more strength" data-target="17">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer18">
              <div class="label_wrapper">
                <h1 class="hidden">Reaper</h1>
                <object data="images/reaper.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Reaper</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="18">Weaknesses</span>
                <span class="see-more strength" data-target="18">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer19">
              <div class="label_wrapper">
                <h1 class="hidden">Reinhardt</h1>
                <object data="images/reinhardt.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Reinhardt</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="19">Weaknesses</span>
                <span class="see-more strength" data-target="19">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer20">
              <div class="label_wrapper">
                <h1 class="hidden">Roadhog</h1>
                <object data="images/roadhog.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Roadhog</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="20">Weaknesses</span>
                <span class="see-more strength" data-target="20">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer21">
              <div class="label_wrapper">
                <h1 class="hidden">Soldier: 76</h1>
                <object data="images/soldier_76.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Soldier: 76</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="21">Weaknesses</span>
                <span class="see-more strength" data-target="21">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer22">
              <div class="label_wrapper">
                <h1 class="hidden">Sombra</h1>
                <object data="images/sombra.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Sombra</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="22">Weaknesses</span>
                <span class="see-more strength" data-target="22">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer23">
              <div class="label_wrapper">
                <h1 class="hidden">Symmetra</h1>
                <object data="images/symmetra.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Symmetra</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="23">Weaknesses</span>
                <span class="see-more strength" data-target="23">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer24">
              <div class="label_wrapper">
                <h1 class="hidden">Torbjorn</h1>
                <object data="images/torbjorn.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Torbjorn</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="24">Weaknesses</span>
                <span class="see-more strength" data-target="24">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer25">
              <div class="label_wrapper">
                <h1 class="hidden">Tracer</h1>
                <object data="images/tracer.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Tracer</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="25">Weaknesses</span>
                <span class="see-more strength" data-target="25">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer26">
              <div class="label_wrapper">
                <h1 class="hidden">Widowmaker</h1>
                <object data="images/widowmaker.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Widowmaker</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="26">Weaknesses</span>
                <span class="see-more strength" data-target="26">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer27">
              <div class="label_wrapper">
                <h1 class="hidden">Winston</h1>
                <object data="images/winston.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Winston</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="27">Weaknesses</span>
                <span class="see-more strength" data-target="27">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer28">
              <div class="label_wrapper">
                <h1 class="hidden">Wrecking Ball</h1>
                <object data="images/wrecking_ball.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Wrecking Ball</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="28">Weaknesses</span>
                <span class="see-more strength" data-target="28">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer29">
              <div class="label_wrapper">
                <h1 class="hidden">Zarya</h1>
                <object data="images/zarya.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Zarya</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="29">Weaknesses</span>
                <span class="see-more strength" data-target="29">Strengths</span>
              </div>
          </section>

          <section class="hero-icon" id="beer30">
              <div class="label_wrapper">
                <h1 class="hidden">Zenyatta</h1>
                <object data="images/zenyatta.svg" type="image/svg+xml" class="svg-graphic" id="glasses"></object>
              </div>
      
              <h3>Zenyatta</h3>
      
              <div class="buttons">
                <span class="see-more weak" data-target="30">Weaknesses</span>
                <span class="see-more strength" data-target="30">Strengths</span>
              </div>
          </section>
    </main>
    <script src="js/main.js"></script>
</body>
</html>