* { box-sizing: border-box; }

@font-face {
  font-family: 'overwatch';
  src: url('koverwatch.ttf') format('truetype');
}

@font-face {
  font-family: 'overwatch-italic';
  src: url('bignoodletoo.ttf') format('truetype');
}

.hidden { 
  display: none; 
}

body {
  background-image: linear-gradient(grey, lightgrey, lightgrey, grey); 
  color: black; 
  font-size: 14px; 
  text-align: center;
  justify-content: center;
}

.buffer { 
  min-height: 100vh; 
}

main { 
  margin: 0 auto; 
  padding: 40px; 
}

section > div:not(.text-wrapper) {
  /* width: 30%;  */
  display: inline-block;
  /* background-color: black; */
  text-align: center;
  padding: 20px;
  position: relative;
}

.text-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  width: 65%;
}

/* Header Section Styling */
.header {
  display: block;
}

.svg-header {
  width: 15%;
}

.main-header {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 40px;
  font-family: "overwatch-italic", sans-serif;
}

/* Legend Styling */
.legend {
  display: inline;
  font-size: 25px;
}

#l-title {
  font-family: 'overwatch';
  color: black;
}

#l-weak {
  font-family: 'overwatch-italic';
  color: red;
}

#l-strong {
  font-family: 'overwatch-italic';
  color: blue;
}

/* SVG Styling */
.hero-icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; 
  color: white;
}

.hero-icon h3 {
  display: inline-block;
  text-align: center;
  color: black;
  font-family: 'overwatch', sans-serif;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0
}

.hero-icon p { 
  color: black; 
  width: 70%; 
  font-size: 1.25rem; 
}

.svg-graphic {
  width: 200px;
  border-radius: 30px;
}

.buttons {
  display: flex;
}

.see-more { 
  /* display: block;  */
  font-family: 'overwatch';
  font-size: 20px;
  width: 75px;
  padding: 12px 18px; 
  border-radius: 8px; 
  color: white;  
  margin-top: 8px
}

#strength {
  background-color: red;
}

#weak {
  background-color: blue;
}

.beer-info { 
  display: inline-block; 
  vertical-align: top; 
  padding: 30px; 
  border: thin solid white; 
}

p > span { 
  display: block; 
  padding-bottom: 12px; 
}

/* Popover Styles */
.popover { 
  display: none;
  position: absolute;
  top: 18%;
  left: 110%;
  background-color: orange;
  width: 350px;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
}

.show-popover { 
  display: block; 
}